In [5]:
import reads.reads as r
import pandas as pd
pd.set_option("display.max_columns", None)

In [6]:
stream_airlines = 'C:./Data/2015 Flight Delays and Cancellations/airlines.csv'
stream_airports = 'C:./Data/2015 Flight Delays and Cancellations/airports.csv'
stream_flights = 'C:./Data/2015 Flight Delays and Cancellations/flights.csv'

In [7]:
flights = r.read_flight(stream_flights)
flights

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,0005,2354,-11.0,21.0,0015,205.0,194.0,169.0,1448,0404,4.0,0430,0408,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,0010,0002,-8.0,12.0,0014,280.0,279.0,263.0,2330,0737,4.0,0750,0741,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,0020,0018,-2.0,16.0,0034,286.0,293.0,266.0,2296,0800,11.0,0806,0811,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,0020,0015,-5.0,15.0,0030,285.0,281.0,258.0,2342,0748,8.0,0805,0756,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,0025,0024,-1.0,11.0,0035,235.0,215.0,199.0,1448,0254,5.0,0320,0259,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,2355,-4.0,22.0,0017,320.0,298.0,272.0,2611,0749,4.0,0819,0753,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,2355,-4.0,17.0,0012,227.0,215.0,195.0,1617,0427,3.0,0446,0430,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,2350,-9.0,17.0,0007,221.0,222.0,197.0,1598,0424,8.0,0440,0432,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,2353,-6.0,10.0,0003,161.0,157.0,144.0,1189,0327,3.0,0340,0330,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,0014,15.0,14.0,0028,221.0,208.0,189.0,1576,0437,5.0,0440,0442,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
airlines = r.read_airlines(stream_airlines)
airlines

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [9]:
airports = r.read_airports(stream_airports)
airports

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [10]:
type(flights)

pandas.core.frame.DataFrame

In [11]:
flights.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [12]:
flights.sample(5)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
4435654,2015,10,4,7,EV,4972,N153PQ,11433,10994,1000,0957,-3.0,15.0,1012,127.0,157.0,119.0,667,1211,23.0,1207,1234,27.0,0,0,NaN,27.0,0.0,0.0,0.0,0.0
3695140,2015,8,18,2,AA,2115,N821AW,LGA,DCA,0600,0602,2.0,18.0,0620,59.0,64.0,40.0,214,0700,6.0,0659,0706,7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
896783,2015,2,28,6,WN,4267,N500WR,DCA,MDW,1745,1738,-7.0,18.0,1756,130.0,149.0,124.0,601,1900,7.0,1855,1907,12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1064746,2015,3,11,3,US,1842,N702UW,PVD,CLT,0959,0955,-4.0,25.0,1020,142.0,146.0,114.0,683,1214,7.0,1221,1221,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1832202,2015,4,27,1,MQ,3558,N692MQ,CLL,DFW,1510,1509,-1.0,4.0,1513,59.0,44.0,34.0,164,1547,6.0,1609,1553,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
flights.shape

(5819079, 31)

In [14]:
display(airlines)

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [15]:
#flights.groupby('FLIGHT_NUMBER').agg({'FLIGHT_NUMBER':'value_counts'})
print(len(flights['FLIGHT_NUMBER'].unique()))
flights['FLIGHT_NUMBER'].value_counts(ascending=True)

6952

6881       1
8410       1
6850       1
6689       1
6690       1
        ...
403     3370
188     3386
326     3513
327     3554
469     3975
Name: FLIGHT_NUMBER, Length: 6952, dtype: int64

In [53]:
count_flights = flights[['YEAR', 'MONTH', 'DAY', 'AIRLINE', 'FLIGHT_NUMBER']].value_counts(ascending=True)
display(count_flights)

YEAR  MONTH  DAY  AIRLINE  FLIGHT_NUMBER
2015  1      1    AA       1                1
      8      11   MQ       3219             1
                           3221             1
                           3225             1
                           3226             1
                                           ..
      4      29   WN       891              8
      6      7    WN       1778             8
      2      3    WN       576              8
      6      23   WN       232              8
             18   WN       232              8
Length: 4117420, dtype: int64

In [65]:
count_flights

YEAR  MONTH  DAY  AIRLINE  FLIGHT_NUMBER
2015  1      1    AA       1                1
      8      11   MQ       3219             1
                           3221             1
                           3225             1
                           3226             1
                                           ..
      4      29   WN       891              8
      6      7    WN       1778             8
      2      3    WN       576              8
      6      23   WN       232              8
             18   WN       232              8
Length: 4117420, dtype: int64

In [54]:
type(count_flights)

pandas.core.series.Series

In [104]:
a = count_flights[count_flights>5]
airlines = set()
for i in a.index:
    airlines.add(i[3])
airlines

{'WN'}

In [122]:
flights[(flights['MONTH']==4) & (flights['DAY']==29) & (flights['AIRLINE']=='WN') & (flights['FLIGHT_NUMBER']==891)]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
1857265,2015,4,29,3,WN,891,N385SW,DAL,TUL,0715,0715,0.0,6.0,0721,60.0,48.0,38.0,237,0759,4.0,0815,0803,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1858808,2015,4,29,3,WN,891,N385SW,TUL,DEN,0845,0837,-8.0,7.0,0844,110.0,89.0,76.0,541,0900,6.0,0935,0906,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1860311,2015,4,29,3,WN,891,N385SW,DEN,AUS,1015,1008,-7.0,19.0,1027,135.0,127.0,105.0,775,1312,3.0,1330,1315,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1864205,2015,4,29,3,WN,891,N385SW,AUS,ELP,1405,1402,-3.0,10.0,1412,95.0,88.0,75.0,528,1427,3.0,1440,1430,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1865118,2015,4,29,3,WN,891,N385SW,ELP,LAX,1505,1509,4.0,9.0,1518,125.0,110.0,95.0,715,1553,6.0,1610,1559,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1866850,2015,4,29,3,WN,891,N385SW,LAX,LAS,1650,1711,21.0,13.0,1724,60.0,63.0,45.0,236,1809,5.0,1750,1814,24.0,0,0,NaN,3.0,0.0,21.0,0.0,0.0
1868601,2015,4,29,3,WN,891,N226WN,LAS,SEA,1830,1858,28.0,10.0,1908,160.0,143.0,128.0,867,2116,5.0,2110,2121,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1871240,2015,4,29,3,WN,891,N226WN,SEA,OAK,2150,2250,60.0,10.0,2300,120.0,107.0,92.0,672,0032,5.0,2350,0037,47.0,0,0,NaN,0.0,0.0,38.0,9.0,0.0

In [125]:
flights[(flights['MONTH']==4) & (flights['AIRLINE']=='WN') & (flights['FLIGHT_NUMBER']==892)]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
1404948,2015,4,1,3,WN,892,N906WN,ATL,DCA,0645,0640,-5.0,12.0,0652,95.0,94.0,77.0,547,0809,5.0,0820,0814,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1421753,2015,4,2,4,WN,892,NaN,ATL,DCA,0645,NaN,NaN,NaN,NaN,95.0,NaN,NaN,547,NaN,NaN,0820,NaN,NaN,0,1,A,NaN,NaN,NaN,NaN,NaN
1438735,2015,4,3,5,WN,892,N499WN,ATL,DCA,0645,0643,-2.0,15.0,0658,95.0,99.0,79.0,547,0817,5.0,0820,0822,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1468703,2015,4,5,7,WN,892,N7715E,ATL,DCA,0645,0641,-4.0,14.0,0655,95.0,95.0,78.0,547,0813,3.0,0820,0816,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1484755,2015,4,6,1,WN,892,N441WN,ATL,DCA,0645,0644,-1.0,16.0,0700,95.0,111.0,90.0,547,0830,5.0,0820,0835,15.0,0,0,NaN,15.0,0.0,0.0,0.0,0.0
1529488,2015,4,8,3,WN,892,N785SW,AUS,ELP,1800,1835,35.0,30.0,1905,95.0,116.0,81.0,528,1926,5.0,1835,1931,56.0,0,0,NaN,21.0,0.0,0.0,35.0,0.0
1530607,2015,4,8,3,WN,892,N785SW,ELP,PHX,1910,1955,45.0,16.0,2011,75.0,82.0,58.0,347,2009,8.0,1925,2017,52.0,0,0,NaN,7.0,0.0,0.0,45.0,0.0
1546281,2015,4,9,4,WN,892,N7745A,AUS,ELP,1800,1822,22.0,14.0,1836,95.0,94.0,77.0,528,1853,3.0,1835,1856,21.0,0,0,NaN,0.0,0.0,21.0,0.0,0.0
1547417,2015,4,9,4,WN,892,N7745A,ELP,PHX,1910,1933,23.0,16.0,1949,75.0,82.0,60.0,347,1949,6.0,1925,1955,30.0,0,0,NaN,7.0,0.0,2.0,21.0,0.0
1563165,2015,4,10,5,WN,892,N7717D,AUS,ELP,1800,1849,49.0,11.0,1900,95.0,93.0,79.0,528,1919,3.0,1835,1922,47.0,0,0,NaN,0.0,0.0,0.0,47.0,0.0
1564286,2015,4,10,5,WN,892,N7717D,ELP,PHX,1910,1953,43.0,12.0,2005,75.0,74.0,56.0,347,2001,6.0,1925,2007,42.0,0,0,NaN,0.0,0.0,0.0,42.0,0.0
1592538,2015,4,12,7,WN,892,N7724A,AUS,ELP,1800,1756,-4.0,10.0,1806,95.0,90.0,74.0,528,1820,6.0,1835,1826,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1593685,2015,4,12,7,WN,892,N7724A,ELP,PHX,1910,1911,1.0,17.0,1928,75.0,76.0,52.0,347,1920,7.0,1925,1927,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1609465,2015,4,13,1,WN,892,N203WN,AUS,ELP,1800,1829,29.0,9.0,1838,95.0,91.0,75.0,528,1853,7.0,1835,1900,25.0,0,0,NaN,0.0,0.0,0.0,25.0,0.0
1610583,2015,4,13,1,WN,892,N203WN,ELP,PHX,1910,1925,15.0,6.0,1931,75.0,64.0,54.0,347,1925,4.0,1925,1929,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1625895,2015,4,14,2,WN,892,N7710A,AUS,ELP,1800,1759,-1.0,9.0,1808,95.0,86.0,74.0,528,1822,3.0,1835,1825,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1627000,2015,4,14,2,WN,892,N7710A,ELP,PHX,1910,1907,-3.0,9.0,1916,75.0,83.0,58.0,347,1914,16.0,1925,1930,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1642407,2015,4,15,3,WN,892,N902WN,AUS,ELP,1800,1801,1.0,9.0,1810,95.0,90.0,78.0,528,1828,3.0,1835,1831,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1643543,2015,4,15,3,WN,892,N902WN,ELP,PHX,1910,1908,-2.0,9.0,1917,75.0,82.0,57.0,347,1914,16.0,1925,1930,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1659142,2015,4,16,4,WN,892,N798SW,AUS,ELP,1800,1758,-2.0,16.0,1814,95.0,99.0,79.0,528,1833,4.0,1835,1837,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1660293,2015,4,16,4,WN,892,N7737E,ELP,PHX,1910,2046,96.0,13.0,2059,75.0,76.0,60.0,347,2059,3.0,1925,2102,97.0,0,0,NaN,1.0,0.0,94.0,2.0,0.0
1676020,2015,4,17,5,WN,892,N7812G,AUS,ELP,1800,1800,0.0,13.0,1813,95.0,94.0,78.0,528,1831,3.0,1835,1834,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1677155,2015,4,17,5,WN,892,N7812G,ELP,PHX,1910,1910,0.0,9.0,1919,75.0,82.0,57.0,347,1916,16.0,1925,1932,7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1705367,2015,4,19,7,WN,892,N553WN,AUS,ELP,1800,1801,1.0,9.0,1810,95.0,97.0,84.0,528,1834,4.0,1835,1838,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1706524,2015,4,19,7,WN,892,N553WN,ELP,PHX,1910,1911,1.0,10.0,1921,75.0,79.0,56.0,347,1917,13.0,1925,1930,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1722271,2015,4,20,1,WN,892,N7711N,AUS,ELP,1800,1803,3.0,19.0,1822,95.0,111.0,88.0,528,1850,4.0,1835,1854,19.0,0,0,NaN,19.0,0.0,0.0,0.0,0.0
1723422,2015,4,20,1,WN,892,N7711N,ELP,PHX,1910,1922,12.0,17.0,1939,75.0,81.0,56.0,347,1935,8.0,1925,1943,18.0,0,0,NaN,6.0,0.0,0.0,12.0,0.0
1738768,2015,4,21,2,WN,892,N7728D,AUS,ELP,1800,1758,-2.0,9.0,1807,95.0,98.0,82.0,528,1829,7.0,1835,1836,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1739878,2015,4,21,2,WN,892,N7728D,ELP,PHX,1910,1905,-5.0,9.0,1914,75.0,88.0,58.0,347,1912,21.0,1925,1933,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1755320,2015,4,22,3,WN,892,N7703A,AUS,ELP,1800,1759,-1.0,9.0,1808,95.0,97.0,81.0,528,1829,7.0,1835,1836,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1756441,2015,4,22,3,WN,892,N7703A,ELP,PHX,1910,1906,-4.0,11.0,1917,75.0,76.0,58.0,347,1915,7.0,1925,1922,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1772068,2015,4,23,4,WN,892,N556WN,AUS,ELP,1800,1756,-4.0,10.0,1806,95.0,94.0,81.0,528,1827,3.0,1835,1830,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1773201,2015,4,23,4,WN,892,N556WN,ELP,PHX,1910,1905,-5.0,14.0,1919,75.0,76.0,56.0,347,1915,6.0,1925,1921,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1788936,2015,4,24,5,WN,892,N7741C,AUS,ELP,1800,1804,4.0,10.0,1814,95.0,104.0,89.0,528,1843,5.0,1835,1848,13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1790090,2015,4,24,5,WN,892,N7741C,ELP,PHX,1910,1913,3.0,11.0,1924,75.0,84.0,55.0,347,1919,18.0,1925,1937,12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1818287,2015,4,26,7,WN,892,N7812G,AUS,ELP,1800,1758,-2.0,11.0,1809,95.0,97.0,82.0,528,1831,4.0,1835,1835,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1819439,2015,4,26,7,WN,892,N7812G,ELP,PHX,1910,1909,-1.0,12.0,1921,75.0,76.0,60.0,347,1921,4.0,1925,1925,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1835156,2015,4,27,1,WN,892,N7736A,AUS,ELP,1800,1810,10.0,13.0,1823,95.0,101.0,82.0,528,1845,6.0,1835,1851,16.0,0,0,NaN,6.0,0.0,10.0,0.0,0.0
1836305,2015,4,27,1,WN,892,N7736A,ELP,PHX,1910,1923,13.0,9.0,1932,75.0,71.0,55.0,347,1927,7.0,1925,1934,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1851612,2015,4,28,2,WN,892,N7811F,AUS,ELP,1800,1757,-3.0,9.0,1806,95.0,97.0,84.0,528,1830,4.0,1835,1834,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1852738,2015,4,28,2,WN,892,N7811F,ELP,PHX,1910,1900,-10.0,17.0,1917,75.0,76.0,55.0,347,1912,4.0,1925,1916,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1868129,2015,4,29,3,WN,892,N555LV,AUS,ELP,1800,1756,-4.0,9.0,1805,95.0,83.0,72.0,528,1817,2.0,1835,1819,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1869262,2015,4,29,3,WN,892,N555LV,ELP,PHX,1910,1906,-4.0,10.0,1916,75.0,72.0,51.0,347,1907,11.0,1925,1918,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1884858,2015,4,30,4,WN,892,N7728D,AUS,ELP,1800,1757,-3.0,12.0,1809,95.0,84.0,69.0,528,1818,3.0,1835,1821,-14.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1886005,2015,4,30,4,WN,892,N7728D,ELP,PHX,1910,1911,1.0,15.0,1926,75.0,75.0,52.0,347,1918,8.0,1925,1926,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
flight891 = flights[flights['FLIGHT_NUMBER']==891]

In [19]:
flight891[['FLIGHT_NUMBER', 'TAIL_NUMBER', 'AIRLINE']].value_counts(ascending=False)

FLIGHT_NUMBER  TAIL_NUMBER  AIRLINE
891            N395SW       WN         29
               N524SW       WN         19
               N640SW       WN         17
               N609SW       WN         17
               N655WN       WN         16
                                       ..
               N907DE       DL          1
               N907DL       DL          1
               N373DA       DL          1
               N3735D       DL          1
               N910DL       DL          1
Length: 675, dtype: int64

In [20]:
flights[['TAIL_NUMBER', 'AIRLINE']].value_counts(ascending=False)

TAIL_NUMBER  AIRLINE
N480HA       HA         3768
N488HA       HA         3723
N484HA       HA         3723
N493HA       HA         3585
N478HA       HA         3577
                        ...
N121UA       UA            1
N7LEAA       AA            1
N175UA       UA            1
N860NW       DL            1
N840MH       DL            1
Length: 5234, dtype: int64

In [21]:
df = pd.DataFrame()
df['one to one']=flights.groupby('TAIL_NUMBER')['AIRLINE'].nunique()

In [22]:
df[df['one to one']>1]

             one to one
TAIL_NUMBER
N102UW                2
N103US                2
N104UW                2
N105UW                2
N107US                2
...                 ...
N961UW                2
N963UW                2
N965UW                2
N967UW                2
N971UY                2

[337 rows x 1 columns]

In [23]:
flights[flights['TAIL_NUMBER']=='N102UW']

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
3284,2015,1,1,4,US,1882,N102UW,LGA,CLT,0959,0951,-8.0,17.0,1008,127.0,115.0,92.0,544,1140,6.0,1206,1146,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4510,2015,1,1,4,US,713,N102UW,CLT,MSP,1120,1242,82.0,11.0,1253,164.0,171.0,152.0,930,1425,8.0,1304,1433,89.0,0,0,NaN,7.0,0.0,82.0,0.0,0.0
6907,2015,1,1,4,US,1840,N102UW,MSP,CLT,1350,1511,81.0,12.0,1523,144.0,133.0,110.0,930,1813,11.0,1714,1824,70.0,0,0,NaN,0.0,0.0,0.0,70.0,0.0
12648,2015,1,1,4,US,1919,N102UW,CLT,MIA,2010,2030,20.0,10.0,2040,123.0,104.0,90.0,650,2210,4.0,2213,2214,1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
17208,2015,1,2,5,US,1753,N102UW,MIA,CLT,0830,0828,-2.0,16.0,0844,126.0,115.0,92.0,650,1016,7.0,1036,1023,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5789417,2015,12,29,2,AA,1971,N102UW,CLT,SYR,2230,2242,12.0,26.0,2308,102.0,108.0,78.0,603,0026,4.0,0012,0030,18.0,0,0,NaN,6.0,0.0,0.0,12.0,0.0
5792719,2015,12,30,3,AA,879,N102UW,SYR,CLT,0810,0807,-3.0,24.0,0831,146.0,196.0,113.0,603,1024,59.0,1036,1123,47.0,0,0,NaN,47.0,0.0,0.0,0.0,0.0
5805668,2015,12,30,3,AA,1971,N102UW,CLT,SYR,2230,2232,2.0,20.0,2252,102.0,112.0,88.0,603,0020,4.0,0012,0024,12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5808533,2015,12,31,4,AA,879,N102UW,SYR,CLT,0810,0808,-2.0,12.0,0820,146.0,128.0,108.0,603,1008,8.0,1036,1016,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5811848,2015,12,31,4,AA,1837,N102UW,CLT,RSW,1150,1147,-3.0,25.0,1212,124.0,114.0,85.0,600,1337,4.0,1354,1341,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
def isOnetoOne(df, col1, col2):
    '''check for one to one relationship for two columns'''

    fir